/* Variables */
:root {
  --primary-color: #ffc107;
  --secondary-color: #6c757d;
  --box-shadow-color: rgba(0, 0, 0, 0.26);
}

/* Typography */
.holiday-font {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.text-warning {
  color: var(--primary-color);
  font-weight: bold;
  text-align: center;
}

/* Layout */
html,
body {
  height: 100%;
}

.modal-body {
  overflow-y: auto;
  width: auto;
  
}

/* Map */
.container-fluid,
.row,
#map,
#map_parent {
  height: 100%;
}

#map_parent {
  position: relative;
  padding: 0;
}

#map_sibling_top {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  width: 200px;
  z-index: 401;
  background-color: #fff;
  padding: 10px;
  box-shadow: 0 2px 6px var(--box-shadow-color);
  border-radius: 5px;
}

#country_list {
  width: 100%;
}

/* Cards */
.card-header i {
  margin-right: 16px;
}

.card-header h2 {
  display: inline;
}

.card-body {
  overflow-y: auto;
}

.country_flag_image {
  height: 50px;
}

#country_info {
  position: absolute;
  left: -120%;
  top: 10px;
  z-index: 1000;
  padding: 0;
  min-width: 300px;
  width: auto;
  height: auto;
  background-color: silver;
  box-shadow: 0 2px 6px var(--box-shadow-color);
  border-radius: 5px;
  transform: translateX(-50%);
}

.pull_country_info_popup {
  position: absolute;
  top: 29px;
  z-index: 1002;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 0 5px 5px 0;
  font-size: 24px;
  color: #555;
  cursor: pointer;
}

#news_data {
  top: 0;
  left: 0;
  z-index: 1055;
  display: none;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
}

#newsModal .modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1055;
  display: none;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
}

#newsModal .modal-body {
  padding: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  padding-left: 5rem;
  }

#newsModal .modal-news {
  max-width: 25%;
}

#newModal .modal-content {
  border: 3px solid black;
  border-radius: 5px;
  box-shadow: 8px 8px 0 rgba(0, 0, 0, 0.2);
}

/* Weather Card */
.weather_card {
  padding: 5px 20px; /* Decrease horizontal padding */
  width: auto;
  border-radius: 3px;
  background-color: white;
  border: 10px solid lightgrey;
  color: black;
}

.weather_card h1 {
  font-weight: 300;
  font-size: 5.59375em;
  line-height: .2em;
  margin-bottom: -10px; /* Add negative margin to decrease white space */
}

.weather_card h2 {
  font-weight: 300;
  font-size: 2.25em;
  margin: 0.33em 0; /* Decrease margin-top and margin-bottom */
  text-align: center;
}

.weather_card h3 {
  margin-right: 20px; /* Decrease margin-right */
  font-weight: 400;
  font-size: 1em;
}

.weather_card span {
  margin-left: 12px; /* Decrease margin-left */
  font-weight: 300;
}

.weather_card .dot {
  font-size: .9em;
}

.weather_card table {
  position: relative;
  top: 10px;
  width: 100%;
  text-align: center;
  margin-bottom: 1em; /* Decrease margin-bottom */
}

/* Apply padding-bottom to all cells in the first row */
.weather_card tr:nth-child(1) td {
  padding-bottom: 10px; /* Decrease padding-bottom */
}

/* Apply padding-bottom to all cells in the second and third rows */
.weather_card tr:nth-child(2) td,
.weather_card tr:nth-child(3) td {
  padding-bottom: 5px; /* Decrease padding-bottom */
}

.image_parent{
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 1em 0; /* Decrease margin-top and margin-bottom */
}

.weather_card .image_parent img{
  width:100px;
  height:auto;
  border-radius: 12px;
}

.modal-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 15px;
  border-bottom: 1px solid #dee2e6;
}

.modal-title {
  flex-grow: 1;
  text-align: center;
  margin-bottom: 0;
  font-size: 1.25rem;
}

.close {
  margin-left: auto;
  padding: 0;
  background: none;
  border: none;
  font-size: 1.5rem;
  opacity: 0.8;
}

.close:focus {
  outline: none;
}

/* Table styles */
table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 1rem;
}

th {
  font-weight: bold;
  text-align: left;
}

th,
td {
  padding: 0.75rem;
  border: 1px solid #dee2e6;
  vertical-align: top;
}

table.table-bordered>tbody>tr>th:first-child,
table.table-bordered>tbody>tr>td:first-child {
  text-align: left;
}

table.table-bordered>tbody>tr>th:last-child,
table.table-bordered>tbody>tr>td:last-child {
  text-align: right;
}

/* Modal styles */
#holidayModal {
  background-color: rgba(0, 0, 0, 0.5);
}

#holidayModal .modal-dialog-scrollable {
  max-height: calc(100% - 2rem);
  overflow-y: auto;
}

.modal-body {
  overflow-y: auto;
}

#holidayModal .modal-header {
  background-color: #fff;
  color: #fff;
  border-bottom: none;
}

#holidayModal .modal-title {
  font-weight: bold;
}

#holidayModal .modal-content {
  border-radius: 0;
}

#holidayModal .modal-footer {
  border-top: none;
}

#holidayModal .btn-secondary {
  background-color: var(--secondary-color);
  color: #fff;
}

#holidayModal table.table-bordered>tbody>tr>th:first-child,
#holidayModal table.table-bordered>tbody>tr>td:first-child {
  text-align: left;
}

#holidayModal table.table-bordered>tbody>tr>th:last-child,
#holidayModal table.table-bordered>tbody>tr>td:last-child {
  text-align: right;
}

/* Icons */
.fa-globe {
  color: rgb(18, 6, 241);
}
.fa-cloud-sun {
  color: rgb(104, 217, 251);
}
.fa-virus-covid {
  color: rgb(58, 180, 21);
}
.fa-city {
color: rgb(255, 241, 45);
}
.fa-umbrella-beach {
color: rgb(255, 142, 50);
}
.fa-newspaper {
color: rgb(171, 45, 255);
}

/* Leaflet Map Customization */
.leaflet-touch .leaflet-bar button {
padding: 2px !important;
font-size: 22px;
}

.leaflet-control-zoom {
  bottom: -650px !important;
  left: auto;
}

.leaflet-right .leaflet-control {
  margin-right: 10px !important;
  bottom: 0px !important;
}

.leaflet-top .leaflet-control {
  margin-top: 10px;
  bottom: 80px;
}


#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #fff;
  }
  #preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #f2f2f2;
  border-top: 6px solid #56829e ;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
  }
  @-webkit-keyframes animate-preloader {
  0% {
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  }
  100% {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
  }
  }
  @keyframes animate-preloader {
  0% {
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  }
  100% {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
  }
  }