/* Variables */
:root {
  --primary-color: #ffc107;
  --secondary-color: #6c757d;
  --box-shadow-color: rgba(0, 0, 0, 0.26);
}

/* Typography */
.holiday-font {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.text-warning {
  color: var(--primary-color);
  font-weight: bold;
}

/* Layout */
html,
body {
  height: 100%;
}

.modal-body {
  height: 70vh;
  overflow-y: auto;
}

/* Map */
.container-fluid,
.row,
#map,
#map_parent {
  height: 100%;
}

#map_parent {
  position: relative;
  padding: 0;
}

#map_sibling_top {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  width: 200px;
  z-index: 401;
  background-color: #fff;
  padding: 10px;
  box-shadow: 0 2px 6px var(--box-shadow-color);
  border-radius: 5px;
}

#country_list {
  width: 100%;
}

/* Cards */
.card-header i {
  margin-right: 16px;
}

.card-header h2 {
  display: inline;
}

.card-body {
  overflow-y: auto;
}

.country_flag_image {
  height: 50px;
}

#country_info {
  position: absolute;
  left: -120%;
  top: 10px;
  z-index: 1000;
  padding: 0;
  min-width: 300px;
  width: auto;
  height: auto;
  background-color: silver;
  box-shadow: 0 2px 6px var(--box-shadow-color);
  border-radius: 5px;
  transform: translateX(-50%);
}

.pull_country_info_popup {
  position: absolute;
  top: 29px;
  z-index: 1002;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 0 5px 5px 0;
  font-size: 24px;
  color: #555;
  cursor: pointer;
}

#news_data {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.news-card {
  width: 20rem;
}

/* Weather Card */
.weather_card {
  margin: 0 auto;
  padding: 5px 30px;
  width: 350px;
  border-radius: 3px;
  background-color: blue;
  border: 1px solid lightgrey;
  color: white;
}


.weather_card h1 {
  font-weight: 300;
  font-size: 5.59375em;
  line-height: .2em;
}

.weather_card h2 {
  font-weight: 300;
  font-size: 2.25em;
  margin: 0.83em 0;
}

.weather_card h3 {
  margin-right: 33px;
  font-weight: 400;
  font-size: 1em;
}

.weather_card span {
  margin-left: 24px;
  font-weight: 300;
}

.weather_card span span {
  margin-left: 0;
}

.weather_card .dot {
  font-size: .9em;
}

.weather_card table {
  position: relative;
  top: 10px;
  width: 100%;
  text-align: center;
  margin-bottom: 2.83em;
}

/* Apply padding-bottom to all cells in the first row */
.weather_card tr:nth-child(1) td {
  padding-bottom: 15px;
}

/* Apply padding-bottom to all cells in the second and third rows */
.weather_card tr:nth-child(2) td,
.weather_card tr:nth-child(3) td {
  padding-bottom: 7px;
}

/* Apply font-size to all cells in the second and third rows */
.weather_card tr:nth-child(2),
.weather_card tr:nth-child(3) {
  font-size: 0.9em;
}

.weather_card .image_parent{
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 2em 0;
}

.weather_card .image_parent img{
  width:100px;
  height:auto;
  background-color: white;
  border-radius: 12px;
}

/* Table styles */
table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 1rem;
}

th {
  font-weight: bold;
  text-align: left;
}

th,
td {
  padding: 0.75rem;
  border: 1px solid #dee2e6;
  vertical-align: top;
}

/* Modal styles */
#holidayModal {
  background-color: rgba(0, 0, 0, 0.5);
}

#holidayModal .modal-dialog {
  max-width: 800px;
}

#holidayModal .modal-header {
  background-color: #fff;
  color: #fff;
  border-bottom: none;
}

#holidayModal .modal-title {
  font-weight: bold;
}

#holidayModal .modal-content {
  border-radius: 0;
}

#holidayModal .modal-footer {
  border-top: none;
}

#holidayModal .btn-secondary {
  background-color: var(--secondary-color);
  color: #fff;
}

/* Icons */
.fa-globe {
  color: rgb(18, 6, 241);
}
.fa-cloud-sun {
  color: rgb(104, 217, 251);
}
.fa-virus-covid {
  color: rgb(58, 180, 21);
}
.fa-city {
color: rgb(255, 241, 45);
}
.fa-umbrella-beach {
color: rgb(255, 142, 50);
}
.fa-newspaper {
color: rgb(171, 45, 255);
}

/* Leaflet Map Customization */
.leaflet-touch .leaflet-bar button {
padding: 2px !important;
font-size: 22px;
}